<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/assets/style.css" />
    <title>Judit Fischer - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
	<header>
		<h1>Fischer Judit portfolio</h1>
	</header>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/mindenkinek/">mindenkinek van egy</a></li>
        </ul>
    </nav>
    <main id="content">
		{% block content %}{% endblock %}
	</main>
	
    <footer>
        {% block footer %}
        &copy; Copyright 2020 by <a href="http://domain.invalid/">Judit Fischer</a>.
        {% endblock %}
    </footer>
</body>
</html>
